@model WebApplication1.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update Page";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="mb-4">Update Product</h2>
    <form asp-action="Update" asp-controller="Product" method="post">
        @Html.ValidationSummary(true, "Помилки", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required value="@Model.Name" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" name="price" required value="@Model.Price" asp-for="Price"  />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required value="@Model.Description" asp-for="Description" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href="/home/index" class="btn btn-secondary">Cancel</a>
</div>